/*---------------------- 
custom css
----------------- */

/*-------------------------
common css  
-------------------------*/
body {
    background: #E5E5E5;
}

.paragraph-text-color {
    color: #767676;
}

.site-color {
    color: #FFB400;
}

.site-bg-color {
    background: #FFB400;
}


/*---------------------
navbar
------------------------ */

.nav-icons {
    font-size: 2rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    color: #767676;
    background: #E5E5E5;
    text-align: center;
}


/* ---------------------
profile area 
------------------------ */
.profile-area {
    width: 300px;
    padding: 0 2rem;
}

.side-profile-pic {
    width: 9.375rem;
    height: 9.375rem;
}

.profile-icons {
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: #000;
    font-size: 0.9rem;
    background-color: #FFB400;
    border-radius: 1rem;
}