/*---------------------- 
custom css
----------------- */

/*-------------------------
common css  
-------------------------*/
body {
    background: #E5E5E5;
}

.paragraph-text-color {
    color: #767676;
}

.site-color {
    color: #FFB400;
}

.site-bg-color {
    background: #FFB400;
}

.body-container-custom {
    max-width: 60.6rem;
    position: absolute;
    left: 22%;
    right: 7%;
    padding: 0 1rem;
}

.div-containers {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/*---------------------
navbar
------------------------ */

.nav-icons {
    font-size: 2rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    color: #767676;
    background: #E5E5E5;
    text-align: center;
}


/* ---------------------
profile area 
------------------------ */
.profile-area {
    width: 300px;
    padding: 0 2rem;
}

.side-profile-pic {
    width: 9.375rem;
    height: 9.375rem;
}

.profile-icons {
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: #000;
    font-size: 0.9rem;
    background-color: #FFB400;
    border-radius: 1rem;
}


/* -------------------
service area
----------------------*/


.service-icons-custom {
    font-size: 5rem;
    color: #fcbe2d;
}

.service-advertise-order-btn {
    font-size: 12px;
}

.service-advertise-order-btn i {
    font-size: 10px;
}


.portfolio-links-custom {
    text-decoration: none;
    color: #000;
}